/**
 * Styling, mainly for center-alignment of the widget.
 *
 * On choosing the radio <input> to align the widget to the center,
 * it applies the class 'align-center.'
 */

.c-wle__heading {
	padding-top: 0.5em;
}

.align-center .c-wle__heading {
	text-align: center;
}

.align-center .c-wle__img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.align-center .l-footer__cta {
	text-align: center;
}

.align-center .c-wle__copy,
.align-center .wle-link {
	text-align: left;
	display: inline-block;
}

.align-center .c-wle__copy {
	max-width: 70%;
}
