.c-wle__img {
	width: auto;
	height: auto;
	max-height: 300px
}

/*
 * Styles for the center alignment of this widget.
 */
.align-center .c-wle__heading {
	text-align: center;
}

.align-center .c-wle__img {
	margin-right: auto;
	margin-left: auto;
}

.align-center .l-footer__cta {
	text-align: center;
}

.align-center .c-wle__copy,
.align-center .wle-link {
	text-align: left;
	display: inline-block;
}

.align-center .c-wle__copy {
	max-width: 70%;
}
